<% if @book.errors.any? %>
  <%= @book.errors.count %>errors prohibited this obj from being saved:
  <% @book.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>
<div class="container px-5 px-sm-0 pt-3">
  <div class="row">
    <!--左側-->
    <%= render 'books/left',book:@book,user_id:@user_id %>
    <!--左側ここまで-->
    <!--右側-->
    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>

      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
          </tr>
        </thead>
        <tbody>
        <% @books.each do |book| %>
          <tr>
            <td>
              <%= link_to user_path(book.user_id) do %>
              <%= attachment_image_tag book.user, :profile_image, size: "30x30", format:'jpeg', fallback:"no_image.jpg" %>
              <% end %>
            </td>
            <td>
              <%= link_to book_path(book.id) do %>
                <%= book.title %>
              <% end %>
            </td>
            <td><%= book.body %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
     <%= paginate @books %>
    </div>
    <!--右側ここまで-->
  </div>
</div>