<div class="container px-5 px-sm-0 pt-3">
  <div class="row">
    <!--左側-->
    <dev class="col-md-3">
      <h2>User info</h2>
      <!--% if @book.user == current_user %>-->
        <!--%= attachment_image_tag current_user, :profile_image, size: "50x50", format:'jpeg', fallback:"no_image.jpg" %>-->
      <!--% else %>-->
        <%= attachment_image_tag @book_find.user, :profile_image, size: "50x50", format:'jpeg', fallback:"no_image.jpg" %>
      <!--% end %>-->

      <!--% if @book.user == current_user %>-->
        <table class="table my-3">
          <tr>
            <th>name</th>
            <td><%= @book_find.user.name %></td>
          </tr>
          <tr>
            <th>introduction</th>
            <td><%= @book_find.user.introduction %></td>
          </tr>
        </table>
      <!--% else %>-->
        <!--table class="table my-3">-->
          <!--tr>-->
            <!--th>name</th>-->
            <!--td>%= @user.name %></td>-->
          <!--/tr>-->
          <!--tr>-->
            <!--th>introduction</th>-->
            <!--td>%= @user.introduction %></td>-->
          <!--/tr>-->
        <!--/table>-->
      <!--% end %>-->

      <div class="row-fluid">
        <%= link_to edit_user_path(current_user) do %>
          <span class="btn btn-outline-secondary btn-block fas fa-user-cog"></span>
        <% end %>
      </div>

      <h2 class="my-3">New book</h2>
      <%= form_with model:@book, local:true do |f| %>
      <div class="form-group">
      <h6 class="my-2">Title</h6>
      <%= f.text_field :title ,class:"form-control" %>
      </div>
      <div class="form-group">
      <h6 class="my-2">Opinion</h6>
      <%= f.text_area :body ,class:"form-control" %>
      </div>
      <div class="my-2">
      <%= f.submit "Create Book",class:"btn-success text-light rounded " %>
      </div>
      <% end %>
    </dev>
    <!--左側ここまで-->
    <!--右側-->
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
       <tr>
          <td>
            <%= attachment_image_tag @book_find.user, :profile_image, size: "30x30", format:'jpeg', fallback:"no_image.jpg" %><br>
            <%= link_to user_path(@book_find.user) do %>
              <%= @book_find.user.name %>
            <% end %>
          </td>
          <td>
            <%= link_to book_path(@book_find) do %>
              <%= @book_find.title %>
            <% end %>
          </td>
          <td>
            <%= @book_find.body %>
          </td>
          <% if @book_find.user == current_user %>
          <td><%= link_to "Edit",edit_book_path(@book_find.id), class:"btn btn-sm btn-success" %></td>
          <td><%= link_to "Destroy",book_path(@book_find), class:"btn btn-sm btn-danger",method: :delete %></td>
          <% end %>
        </tr>
      </table>
    </div>
    <!--右側ここまで-->
  </div>
</div>