<div class="container px-5 px-sm-0 pt-3">
  <div class="row">
    <!--左側-->
    <dev class="col-md-3">
      <h2>User info</h2>

       <%= attachment_image_tag @book_find.user, :profile_image, size: "50x50", format:'jpeg', fallback:"no_image.jpg" %>

       <table class="table my-3">
          <tr>
            <th>name</th>
            <td><%= @book_find.user.name %></td>
          </tr>
          <tr>
            <th>introduction</th>
            <td><%= @book_find.user.introduction %></td>
          </tr>
        </table>

      <div class="row-fluid">
        <%= link_to edit_user_path(@book_find.user) do %>
          <span class="btn btn-outline-secondary btn-block fas fa-user-cog"></span>
        <% end %>
      </div>

      <h2 class="my-3">New book</h2>
      <%= form_with model:@book, local:true do |f| %>
      <div class="form-group">
      <h6 class="my-2">Title</h6>
      <%= f.text_field :title ,class:"form-control" %>
      </div>
      <div class="form-group">
      <h6 class="my-2">Opinion</h6>
      <%= f.text_area :body ,class:"form-control" %>
      </div>
      <div class="my-2">
      <%= f.submit "Create Book",class:"btn-success text-light rounded " %>
      </div>
      <% end %>
    </dev>
    <!--左側ここまで-->
    <!--右側-->
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
       <tr>
          <td>
            <%= attachment_image_tag @book_find.user, :profile_image, size: "30x30", format:'jpeg', fallback:"no_image.jpg" %><br>
            <%= link_to user_path(@book_find.user) do %>
              <%= @book_find.user.name %>
            <% end %>
          </td>
          <td>
            <%= link_to book_path(@book_find) do %>
              <%= @book_find.title %>
            <% end %>
          </td>
          <td>
            <%= @book_find.body %>
          </td>
          <% if @book_find.user == current_user %>
          <td><%= link_to "Edit",edit_book_path(@book_find.id), class:"btn btn-sm btn-success" %></td>
          <td><%= link_to "Destroy",book_path(@book_find), class:"btn btn-sm btn-danger",method: :delete, data: { confirm: '削除しますか？' } %></td>
          <% end %>
        </tr>
      </table>

      <% if @book_find.favorited_by?(current_user) %>
        <p>
          <%= link_to book_favorites_path(@book_find), method: :delete, class:"mb-3" do %>
            ♥<%= @book_find.favorites.count %> いいね
          <% end %>
        </p>
      <% else %>
        <p>
          <%= link_to book_favorites_path(@book_find), method: :post do %>
            ♡<%= @book_find.favorites.count %> いいね
          <% end %>
        </p>
      <% end %>

      <div class="my-3">
        <div class="border-bottom"><%= @book_find.post_comments.count %>件のコメント</div>
        <div><%= attachment_image_tag @post_comment.user, :profile_image, size: "30x30", format:'jpeg' %></div>
        <% @book_find.post_comments.each do |post_comment| %>
          <div class="border-bottom">
            <div><%= post_comment.comment %></div>
            <div><%= post_comment.user.name %></div>
            <div class="mb-1 small"><%= post_comment.created_at.strftime('%Y/%m/%d') %></div>
            <% if post_comment.user == current_user %>
             <%= link_to "削除", book_post_comment_path(post_comment.book,post_comment), method: :delete, class:"small" %>
            <% end %>
          </div>
        <% end %>
      </div>


      <div class="new_comment">
        <%= form_with(model:[@book_find,@post_comment], local:true) do |f| %>
          <%= f.text_area :comment,rows:'5' %>
          <div><%= f.submit "Create Comment", class:"btn btn-sm btn-success" %></div>
        <% end %>
      </div>

    </div>
    <!--右側ここまで-->
  </div>
</div>